.article {
  width: 100%;

  .title {
    width: 100%;
    border-bottom: 3px solid $primary;

    .category {
      padding: 2px 5px;
      margin-right: 5px;
      color: #EEEEEE;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      background: #CE302D;
      width: auto;
    }

    h2 {
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0.15rem;
    }
  }

  .date p {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0;
  }

  .content {
    .memberTitle {
      font-weight: bold;
      font-size: 36px;
      line-height: 45px;
      padding: 64px;
      background: linear-gradient(97.34deg, #CE302D 5.35%, #1F2023 5.4%, #1F2023 22.89%);
      margin-bottom: 64px;
    }
  }

  img.thumbnail {
    margin: 64px 0;
    width: 100%;
    height: auto;
  }
}
