.article {
  .content {
    margin-bottom: 64px;

    a {
      color: $primary;

      &:hover {
        color: $primary-darker;
      }
    }
  }

  .share {
    display: flex;
    align-items: center;

    height: 200px;
    padding: 0 128px;
    background-color: $black-light;

    p {
      font-size: 32px;
      font-weight: 200;

      margin-right: 64px;
    }

    a {
      width: 48px;
      height: 48px;
    }

    img {
      margin: 0;
      width: 48px;
      height: 48px;
      object-fit: cover;
    }

    .react-share__ShareButton {
      width: 48px;
      height: 48px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}