@import "_variables";
@import "utils.module";
@import "header";
@import "sponser";
@import "news";
@import "article";
@import "content";
@import "teamCard";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

html,
body {
  background-color: $black;
  color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 16px;
}

img,
video {
  max-width: inheret;
  height: inheret;
}

.color-primary {
  color: $primary;
}

.bottom-divider {
  border-bottom: 3px solid $black;
}

.border-section {
  border-left: 4px solid $primary;
}

.jumbotron {
  width: 100%;
  height: auto;
  object-fit: cover;
  line-height: 1.0;
}

.jumbotronBox {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D2F34;
  margin-bottom: 64px;

  h2 {
    line-height: 1.0;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 64px 0;
  }
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.wrapper {
  padding: 4rem 0;

  .main & {
    background-color: $black;

    &:nth-child(even) {
      background-color: $black-lighter;
    }
  }
}

.no-margin {
  margin: 0;
}

.itemTitle {
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1280px;
}

.col {
  display: flex;
  flex: 40%;
  margin: 0 8px 20px;
}

.col-1 {
  display: flex;
  flex: 1;
  margin: 0 8px 20px;

  &.justify-center {
    justify-content: center;
  }

  &.mx-32px {
    margin: 0 32px 20px;
  }
}

.col-4 {
  display: flex;
  flex: 4;
  margin-bottom: 0 8px 20px;

  &.justify-center {
    justify-content: center;
  }
}

.player-card {
  background: linear-gradient(107.23deg, #CE302D 57.22%, #A72725 57.23%, #A72725 91.28%);
}

.member-introduction {
  padding: 128px;
  background: linear-gradient(96.35deg, #A72725 55.9%, #CE302D 55.95%, #CE302D 91.38%);
}

.share {
  display: flex;
  align-items: center;

  height: 200px;
  padding: 0 128px;
  background-color: $black-light;

  p {
    font-size: 32px;
    font-weight: 200;

    margin-right: 64px;
  }

  a {
    width: 48px;
    height: 48px;
  }

  img.thumbnail {
    margin: 0;
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  .react-share__ShareButton {
    width: 48px;
    height: 48px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
